@import "../../styles/base";

.popupWrapper {
  .prokesTitle {
    @include body;
    color: $color-gold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 8%;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    p {
      color: $color-gold;
    }
  }
  .prokesTop {
    @include directionX;
    justify-content: space-around;
    color: $color-gold;
    font-size: 11px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
    .iconWrapperPopup {
      @include directionY;
      align-items: center;
      width: 25%;
      img {
        width: 75px;
        height: 75px;
        @include content-center;
      }
    }
  }
  .prokesBottom {
    @include directionX;
    justify-content: space-around;
    color: $color-gold;
    font-size: 11px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    .iconWrapperPopup {
      @include directionY;
      width: 25%;
      align-items: center;
      img {
        width: 75px;
        height: 75px;
        @include content-center;
      }
    }
  }
  .appeal {
    margin-top: 4%;
    margin-bottom: 4%;
    color: $color-gold;
    font-size: 12px;
    text-align: center;
    line-height: 23.05px;
  }
  .closePopupBtn {
    @include body;
    @include directionX;
    @include content-center;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    color: $color-gold;
    border: 1px solid $color-gold;
    border-radius: 53px;
    width: 159px;
    max-height: 53px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
  }
}
