@import "../../styles/base";
.container {
  @include body;
  background-color: $color-black;
  overflow-x: hidden;
  .invitationContainer {
    .header {
      @include directionY;
      @include parallax;
      background-image: url("../../static/images/mainimage.png");
      height: 100%;
      width: 100%;
      top: 0;
      border: none;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 22px;
      .headerTitle {
        float: right;
        width: 38%;
        font-size: 90px;
        margin-right: 10%;
        margin-bottom: 3%;
        align-self: flex-end;
        .titleTop {
          max-height: 40px;
          text-align: left;
        }
        .titleMid {
          max-height: 40px;
          color: $color-white;
          text-align: center;
        }
        .titleBottom {
          max-height: 40px;
          text-align: right;
          margin-right: 13%;
        }
      }
      .countdown {
        @include directionX;
        @include content-center;
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        width: 30%;
        padding-top: 2px;
        padding-bottom: 5px;
        justify-content: space-around;
        color: $color-white;
        margin-bottom: 3%;
        .countdownItem {
          border-radius: 20px;
          @include apply-at-sm-size {
            font-size: 9px;
            width: 42px;
            heigth: 40px;
            margin: 10% 0.5rem;
          }

          .countdownTime {
            font-size: 35px;
            text-align: center;
            @include apply-at-sm-size {
              padding: 0 0.5rem;
            }
          }
          .countdownInterval {
            font-size: 26px;
            @include apply-at-sm-size {
              margin: 0;
              padding-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .storySection {
      @include section-spacing;
      @include directionX;
      font-size: 32px;
      text-align: center;
      justify-content: space-between;
      .storyWrapper {
        align-self: center;
        width: 50%;
        .story {
          @include content-center;
          width: 90%;
        }
      }
      .imageWrapper {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .secondStoryContainer {
      @include section-spacing;
      @include directionX;
      font-size: 32px;
      text-align: center;
      .imageWrapper {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .storyWrapper {
        align-self: center;
        width: 50%;
        .story {
          @include content-center;
          width: 90%;
        }
      }
    }
    .paralaxx {
      margin-bottom: 22px;
      @include section-spacing;
      .paralaxxWraper {
        background-image: url("../../static/images/mainimage.png");
        @include parallax;
        min-height: 100vh;
      }
    }
    .summary {
      @include directionX;
      .summaryWraper {
        width: 64%;
        @include directionY;
        margin-top: 2%;
        align-items: center;
        justify-content: center;
        @include content-center;
        .title {
          width: 180px;
          height: 80px;
          display: flex;
          justify-content: center;
          font-size: 30px;
          border-bottom: 1px solid $color-gold;
        }
        .summary {
          text-align: center;
          font-size: 28px;
        }
        img {
          margin-bottom: 5%;
        }
      }
    }
    .bridesProfileContainer {
      padding: 3% 0;
      background-image: url("../../static/images/batik-bg.png");
      height: 100%;
      width: 100%;
      border: none;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 22px;
      border-bottom: 1px solid $color-gold;
      .wingWrapper {
        @include content-center;
        .image {
          display: flex;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .profileWrapper {
        @include directionX;
        justify-content: space-around;
        text-align: center;
        .card {
          .bridesImage {
            width: 460px;
          }
        }
      }
    }
    .event {
      @include section-spacing;
      background-image: url("../../static/images/batik-bg.png");
      height: 100%;
      width: 100%;
      margin-bottom: 22px;
      background-repeat: no-repeat;
      background-size: cover;
      .topEvent {
        @include directionX;
        @include content-center;
        margin-top: 10%;
      }
      .greeting {
        p {
          font-size: 29px;
          text-align: center;
        }
      }
      .details {
        .titleWraper {
          margin-top: 5%;
          .title {
            @include directionX;
            @include content-center;
            align-items: center;
            justify-content: center;
            width: 300px;
            font-size: 35px;
            padding-bottom: 14px;
            border-bottom: 1px solid $color-gold;
          }
        }
        .calender {
          @include directionY;
          @include content-center;
          align-items: center;
          width: 20%;
          margin-bottom: 3%;
          border-bottom: 1px solid $color-gold;
          p {
            width: 220px;
            text-align: center;
            margin-top: 4%;
          }
        }
        .timesWraper {
          @include directionX;
          @include content-center;
          width: 80%;
          justify-content: space-between;
          margin-bottom: 3%;
          .time {
            @include directionY;
            align-items: center;
            border-bottom: 1px solid $color-gold;
            width: 25%;
            p {
              width: 220px;
              text-align: center;
            }
          }
        }
        .locationWraper {
          @include directionY;
          @include content-center;
          align-items: center;
          margin-bottom: 5%;
          width: 20%;
          border-bottom: 1px solid $color-gold;
          p {
            width: 220px;
            text-align: center;
          }
        }
        .btnmap {
          @include content-center;
          @include directionX;
          align-items: center;
          justify-content: center;
          width: 255px;
          height: 60px;
          padding: 0px 10px;
          margin-bottom: 10%;
          font-size: 25px;
          border: 1px solid $color-gold;
          border-radius: 20px;
          cursor: pointer;
          p {
            margin-right: 4%;
            color: $color-gold;
            text-decoration: none;
          }
        }
      }
    }
    .poemSectionContainer {
      font-size: 28px;
      .imageSeparator {
        margin: 22px 0;
        width: 100%;
      }
      .poemContainer {
        @include directionY;
        align-items: center;
        justify-content: center;
        .bg {
          img {
            width: 100%;
            position: relative;
          }
        }
        .poemWrapper {
          position: absolute;
          z-index: 1;
          padding-left: 20%;
          p {
            margin-top: -30px;
          }
          .poemMid {
            width: 65%;
            margin-left: 8%;
            margin-top: 10%;
            margin-bottom: 10%;
          }
          .author {
            margin-top: 6%;
            text-align: right;
            width: 75%;
          }
        }
      }
    }
  }
}
