@import "../../styles/base";
.container {
  @include body;
  background-color: $color-black;
  overflow-x: hidden;
  .invitationContainer {
    .header {
      @include directionY;
      @include parallax;
      background-image: url("../../static/images/mainimage.png");
      height: 100%;
      width: 100%;
      top: 0;
      border: none;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 22px;
      border-bottom: 1px solid $color-gold;
      .headerTitle {
        float: right;
        width: 38%;
        font-size: 90px;
        margin-right: 10%;
        margin-bottom: 3%;
        align-self: flex-end;
        .titleTop {
          max-height: 20px;
          text-align: left;
        }
        .titleMid {
          max-height: 40px;
          color: $color-white;
          text-align: center;
        }
        .titleBottom {
          max-height: 40px;
          text-align: right;
          margin-right: 13%;
        }
      }
      .countdown {
        @include directionX;
        @include content-center;
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
        width: 30%;
        padding-top: 2px;
        padding-bottom: 5px;
        justify-content: space-around;
        color: $color-white;
        margin-bottom: 3%;
        .countdownItem {
          border-radius: 20px;
          @include apply-at-sm-size {
            font-size: 9px;
            width: 42px;
            heigth: 40px;
            margin: 10% 0.5rem;
          }
          .countdownTime {
            font-size: 35px;
            text-align: center;
            @include apply-at-sm-size {
              padding: 0 0.5rem;
            }
          }
          .countdownInterval {
            font-size: 26px;
            @include apply-at-sm-size {
              margin: 0;
              padding-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .storySection {
      @include section-spacing;
      @include directionX;
      font-size: 32px;
      text-align: center;
      justify-content: space-between;
      .storyWrapper {
        align-self: center;
        width: 50%;
        .story {
          @include content-center;
          width: 90%;
        }
      }
      .imageWrapper {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .secondStoryContainer {
      @include section-spacing;
      @include directionX;
      font-size: 32px;
      text-align: center;
      .imageWrapper {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .storyWrapper {
        align-self: center;
        width: 50%;
        .story {
          @include content-center;
          width: 90%;
        }
      }
    }
    .paralaxx {
      border-top: 1px solid $color-gold;
      .paralaxxWraper {
        background-image: url("../../static/images/mainimage.png");
        @include parallax;
        min-height: 100vh;
      }
    }
    .summary {
      @include directionX;
      background-image: url('../../static/images/mainimage.png');
      @include parallax;
      border-top: 1px solid $color-gold;
      border-bottom: 1px solid $color-gold;
      .bg {
        background-color: $color-black;
        width: 100%;
        opacity: 0.8;
        .summaryWraper {
          @include directionY;
          margin-top: 2%;
          align-items: center;
          justify-content: center;
          @include content-center;
          .title {
            width: 180px;
            height: 80px;
            display: flex;
            justify-content: center;
            font-size: 30px;
            border-bottom: 1px solid $color-gold;
          }
          .summarySection {
            text-align: center;
            font-size: 28px;
          }
          img {
            margin-bottom: 5%;
          }
        }
      }
    }
    .bridesProfileContainer {
      padding: 3% 0;
      background-image: url("../../static/images/batik-bg.png");
      height: 100%;
      width: 100%;
      border: none;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 22px;
      margin-top: 22px;
      border-bottom: 1px solid $color-gold;
      .wingWrapper {
        @include content-center;
        .image {
          display: flex;
          margin-left: auto;
          margin-right: auto;
          margin-top: 2%;
          margin-bottom: 3%;
        }
      }
      .profileWrapper {
        @include directionX;
        justify-content: space-around;
        text-align: center;
        .card {
          .bridesImage {
            width: 460px;
          }
          .profileInfo {
            .bridess {
              font-size: 26px;
            }
            .parents {
              font-size: 22px;
            }
          }
        }
      }
    }
    .event {
      @include section-spacing;
      background-image: url("../../static/images/batik-bg.png");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .topEvent {
        @include directionX;
        @include content-center;
        margin-top: 8%;
        margin-bottom: 5%;
      }
      .greeting {
        p {
          font-size: 29px;
          text-align: center;
        }
      }
      .details {
        .titleWraper {
          margin-top: 5%;
          .title {
            @include directionX;
            @include content-center;
            align-items: center;
            justify-content: center;
            width: 300px;
            font-size: 35px;
            padding-bottom: 14px;
            border-bottom: 1px solid $color-gold;
          }
        }
        .calender {
          @include directionY;
          @include content-center;
          align-items: center;
          width: 20%;
          margin-bottom: 3%;
          border-bottom: 1px solid $color-gold;
          p {
            width: 220px;
            text-align: center;
            margin-top: 6%;
          }
        }
        .timesWraper {
          @include directionX;
          @include content-center;
          width: 80%;
          justify-content: space-between;
          margin-bottom: 3%;
          .time {
            @include directionY;
            align-items: center;
            border-bottom: 1px solid $color-gold;
            width: 26%;
            p {
              width: 100%;
              text-align: center;
            }
          }
        }
        .locationWraper {
          @include directionY;
          @include content-center;
          align-items: center;
          margin-bottom: 5%;
          width: 28%;
          border-bottom: 1px solid $color-gold;
          p {
            width: 100%;
            text-align: center;
          }
        }
        .btnmap {
          @include content-center;
          @include directionX;
          align-items: center;
          justify-content: center;
          width: 255px;
          height: 60px;
          padding: 0px 10px;
          margin-bottom: 10%;
          font-size: 25px;
          border: 1px solid $color-gold;
          border-radius: 20px;
          cursor: pointer;
          p {
            margin-right: 4%;
            color: $color-gold;
            text-decoration: none;
          }
        }
      }
    }
    .thirdImageSection {
      border-top: 1px solid $color-gold;
      .paralaxxWraper {
        background-image: url('../../static/images/thirdimage.png');
        @include parallax;
        min-height: 100vh;
      }
    }
    .poemSectionContainer {
      border-bottom: 1px solid $color-gold;
      border-top: 1px solid $color-gold;
      // @include section-spacing;
      font-size: 28px;
      .poemContainer {
        @include directionY;
        align-items: center;
        justify-content: center;
        background-image: url('../../static//images/thirdimage.png');
        @include parallax;
        .bg {
          width: 100%;
          background-color: $color-black;
          opacity: 0.92;
          padding: 2% 0;
          img {
            @include directionX;
            @include content-center;
            // border-top-left-radius: 15px;
            // border-top-right-radius: 15px;
            // border-top: 1px solid $color-gold;
            height: 100%;
            width: 50%;
            min-height: 900px;
            background-color: $color-black;
            position: relative;
          }
        }
        .poemWrapper {
          position: absolute;
          z-index: 1;
          padding-left: 15%;
          margin-top: 4%;
          p {
            margin-top: -30px;
          }
          .poemMid {
            width: 66%;
            margin-left: 9%;
            margin-top: 10%;
            margin-bottom: 10%;
            // border: 1px solid yellow;
          }
          .author {
            margin-top: 4%;
            text-align: right;
            width: 75%;
          }
        }
      }
    }
    .attendingContainer {
      @include section-spacing;
      .title {
        @include body;
        margin-top: 5%;
        margin-left: 15%;
        font-size: 30px;
      }
      .attendingWraper {
        width: 90%;
        @include useMulish;
        @include directionX;
        @include content-center;
        justify-content: space-between;
        margin-bottom: 5%;        
        .formWraper {
          .dropdownSection {
            width: 500px;
            @include directionX;
            justify-content: left;
            align-items: center;
            border-bottom: 1px solid $color-gold;
            .formTitle {
              margin-right: 40%;
              font-size: 24px;
            }
          }
          .formContainer {
            opacity: 0;
            .inputForm {
              @include useMulish;
              margin-top: 6%;
              color: $color-gold;
              .inputs {
                @include directionY;
                font-size: 24px;
                input {
                  @include useMulish;
                  color: $color-gold;
                  padding-left: 15px;
                  width: 230px;
                  height: 40px;
                  margin-bottom: 5%;
                  border-radius: 16px;
                  background-color: $color-black;
                  border: 1px solid $color-gold;
                }
                textarea {
                  @include useMulish;
                  color: $color-gold;
                  height: 90px;
                  padding-left: 15px;
                  padding-top: 30px;
                  border-radius: 16px;
                  background-color: $color-black;
                  border: 1px solid $color-gold;
                }
                ::-webkit-input-placeholder {
                  color: $color-gold;
                }
                input:focus {
                  outline: none !important;
                  border-color: $color-red;
                  box-shadow: 0 0 8px $color-red;
                }
                textarea:focus {
                  outline: none !important;
                  border-color: $color-red;
                  box-shadow: 0 0 8px $color-red;
                }
              }
            }
            .radiosInput {
              @include directionX;
              justify-content: space-between;
              .btnSend {
                align-self: flex-end;
                font-weight: bold;
                cursor: pointer;
                width: 130px;
                height: 40px;
                border-radius: 10px;
                color: $color-gold;
                background-color: $color-black;
                border: 1px solid $color-gold;
              }
            }
          }
          .hide {
            opacity: 0;
            transform: translateY(-11%);
            transition: all 1.5s;
          }
          .show {
            opacity: 1;
            transform: translateY(0);
            transition: all 1.5s;
          }
        }
        .expressionSection {
          @include directionY;
          @include body;
          justify-content: center;
          align-items: center;
          img {
            width: 269px;
          }
          .expression {
            text-align: center;
          }
        }
      }
    }
  }
}
